.no-pdd-mrg-first-last-child {
	& > :first-of-type {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	& > :last-of-type {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
}

.align-to-right{
	text-align: right;
}

.align-center {
	text-align: center;
	justify-content: center;
	align-items: center;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
	max-height: 50px;
	margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $primary_background;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	border: 3px solid $primary_background;
	background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.non-layout{
	z-index: 100;
	position: absolute;
	top: 1em;
	left: -9999px;
	padding: 0.5em 1em;
	background: black;
	color: #fff;
}


.header-logo.boxed-column-child{
	display: block!important;
	margin: 0 auto;
	width: 100%;
	text-align: center;

	.logo-link{
		max-width: $logo__max-width;
		margin: 40px auto;
		display: flex;
    justify-content: center;
		width: 100%;
		svg{
			padding: 25px 0;
		}
	}
}

.top-hibbon{
	height: 33px;
	p{
		line-height: 28px;
	}
	a{
		color: #fff;
		font-size: 12px;
	}
}

footer{
	position: relative;
	z-index: 1;
}


.cursor-dot {
    background-color: $cta__contrast_color;
}

.cursor-dot-outline {
    background-color: rgba($primary_light, 0.5);
}


.full-width-row.header-logo-wrapper{
	margin-bottom: 0;
	height: auto;
	padding: 0 20px;

}


#___gatsby{
	z-index: 1;
	position: relative;
}


.wrapper-hr{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	// margin: 50px 0;
	span.ht-top{
		&:before{
			content: '';
			position: absolute;
			top: -5px;
			left: 0;
			width: 100%;
			height: 10px;
			border-right: 1px solid #999;
		}
		position: relative;
		display: block;
		width: 100%;
		height: 1px;
		border-top: 2px solid black;
		border-bottom: 1px dashed #999;
	}

	.inner-hr{
		max-width: 400px;
    width: 40%;
    min-width: 15%;
		&:nth-child(3){
			transform: scaleX(-1);
		}
		@media (max-width: 768px){
			width: 15%;
		}
	}
	.boilerplate-heading {
		text-align: center;
    max-width: 40%;
    width: auto;
		@media (max-width: 768px){
			font-size: 20px;
			max-width: 60%;
		}
	}
}



.social-icons{
	&.boxed-column-child{
		justify-items: center;
    max-width: 360px;
	svg{
		width: 40px;
		height: 40px;
		margin: 0 5px;
		padding: 15px;
		background-color: $primary_light;
		border-radius: 50%;
		color: $primary_background;
	}
}
}


.m0auto{
	margin: 0 auto;
}

.logo-bottom-wrapper{
	padding: 0 20px;
	.footer-logo{
		max-width: $logo__max-width;
		margin: 40px auto;
	}
	margin-bottom: 50px;
}
.logo-bottom{
	margin-top: 25px;
	margin-bottom: 5px;
	width: 100%;
	max-width: 300px;
}
.bottom-paragraph{
	font-size: 11px;
	color: #fff;
	text-align: center;
}

// {
// 	filter: contrast(400%);

// }
.roundME{
	border-radius: 50%;
}
.bottom-social{
	width: 44px;
	height: 44px;
	margin: 5px 10px 10px;
}

.boxed-column-child.social-icons{
	grid-template-areas:
		 "a b c"
		 "d e f"
		 ". g .";
 grid-template-columns: unset!important;
 }
 
 .social-icon-wrapper:nth-child(1),
 .social-icon-wrapper:nth-child(2),
 .social-icon-wrapper:nth-child(3)
 .social-icon-wrapper:nth-child(4),
 .social-icon-wrapper:nth-child(5),
 .social-icon-wrapper:nth-child(6)
 .social-icon-wrapper:nth-child(7){
	 align-self: center;
	 justify-self: center;
 }
 
 .social-icon-wrapper:nth-child(1){
	 grid-area: a;
 }
 .social-icon-wrapper:nth-child(2){
	 grid-area: b;
 }
 .social-icon-wrapper:nth-child(3){
	 grid-area: c;
 }
 
 .social-icon-wrapper:nth-child(4){
	 grid-area: d;
 }
 .social-icon-wrapper:nth-child(5){
	 grid-area: e;
 }
 .social-icon-wrapper:nth-child(6){
	 grid-area: f;
 }
 
 .social-icon-wrapper:nth-child(7){
	 grid-area: g;
 }
 
 
.colorME.gatsby-image-wrapper:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $cta__color;
	mix-blend-mode: hue;
	z-index: 5;
// 	filter: contrast(400%);
	&:hover{
		background-color: transparent;
		mix-blend-mode: normal;
	}
}
.gatsby-image-wrapper{
	&:hover{
		&:before{
			background-color: transparent;
		}
	}
}
.banner{

	height: 85px;
}
.colorME.banner.boxed-column-child{
	position: relative; 
	// height: 85px;
	width: 100%;
	a{
	align-self: center;
	justify-self: center;
}
img{
	max-width: 720px;
	object-fit: contain!important;
	margin: 0 auto;
}
}
.colorME.boxed-column-child:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $cta__color;
	mix-blend-mode: hue;
	z-index: 5;
// 	filter: contrast(400%);
}
.colorME.boxed-column-child{
	&:hover{
		:before{
			background-color: transparent;
			mix-blend-mode: hue;
		}
	}
}

.full-width-row.mobile-header{
	background-color: transparent!important;
	.logo-link svg{
		width: 100%;
	}
}



.m30auto{
	margin: 30px auto;

}
.main-header-not-visible{
	.main-ul{
		// display: none;
		position: absolute;
		top: 45px;
    display: flex;
    flex-direction: column;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 16px;
    background: #fff;
		border-radius: 10px;
		max-width: 400px;
		left: 0;
		right: 0;
		margin: 0 auto;
    height: auto;
    overflow: auto;
		z-index: 999;
		border-bottom: 1px solid $cta__colorLink;
		a{
			color: #262a33;
		}
	}
}

	.main-ul{
		display: flex;
		@media (max-width:$tabletHack__size) {
			display: none;
		}
		height: 29px;
		font-size: 14px;
		max-width: $widescreen__size;
		width: 100%;
		margin: 0 auto;
		li{ margin: 0 auto; 
			width: 100%;
			text-align: center;
			a{
			color:white; font-family: $third__font; line-height: 33px;
			&:hover{
				color: $primary_light;
			}
			&.active{
				color: #1f98eb;
				
				@media (min-width: $boxedDesktop__maxWidth) {
					color: $primary_light;
				}
				
			}
		}}
	}



	.page-container{
		h2{
			text-align: center;
		}
		p{
			margin: 10px auto;
			font-family: $third__font;
			font-weight: 300;
			font-size: 20px;
			width: 100%;
			text-align: justify;
  		text-align-last: left;
		}
		h1, h2, h3, h4, h5, h6{
			margin: 15px 0;
		}
		em{
			font-style: italic;
		}
	}

	.main-page-wrapper{
		.page-container{
			max-width: $page__size;
			margin: 10px auto;
		}
	}


	sup{
		a{
			font-weight: 900;
			vertical-align: super;
			color: $cta__color;
			font-size: 14px;
			margin-left: -10px;
			padding: 5px;
		}
	}




	.diamond-profile{
		position: relative;
		width: 190px;
		height: 190px;
		margin-top: -50px;
		
		.gatsby-image-wrapper{
			position: absolute;
			left: 0;

		img{
			mask-size: 100%;
		
		object-fit: cover;
		}
			&.diamond-img{
				margin-left: 15px;
				margin-top: 15px;
				z-index: 1;
				width: 160px;
			}
			&.diamond-background{
				position: absolute!important;
			img{
				z-index: 0;
				// width: 200px;
			}}
		}
	}
	.home-profile-width{
		max-width: 560px;
		margin: 0 auto;

	}
	.home-profile-wrapper{
		margin-top: 60px;
	}
	.home-profile{
		background-color: $primary;
		border-radius: 15px 15px 0 0;
		height: 180px;
		@media (max-width: 768px){
			height: auto;
			.boxed-column-child{
				flex-flow: wrap-reverse;
				height: auto;
			}
		}
		.home-profile-left-column{
			left: 30px;
			margin-top: 20px;
			position: relative;
			width: 100%;
			@media (max-width: 1023px){
				height: 175px;
				left: 0px;
			}
			p{
				margin-left: 11px;
				color: white;
				font-weight: 400;
				font-size: 14px;
				font-family: $fourth__font;
				sup{
					font-size: 11px;
					vertical-align: super;
				}
				strong{
					font-weight: 600;
				}
			}
		}
		.boxed-column-child{
			display: flex!important;
			justify-content: right;
		}
		.home-profile-right-column{
			margin-right: 20px;
			@media (max-width: 1023px){
				margin: 0 auto;
			}
		}
		.home-profile-infos{
			text-align: center;
			align-self: center;
			// right: 20px;
			position: relative;
			a.profile-btn{
			background-color: white;
			margin: 0 10px;
			padding: 5px 10px;
			font-family: $fourth__font;
			color: $primary;
			font-weight: 600;
			font-size: 12px;
			border-radius: 3px;
			box-shadow: 0 2px 0 0px $primary_light;
			
			&:nth-child(odd){
				background-color: $hot__color;
				color: white;
			}
			&:hover{
				background-color: orange;
				color: white;
			}
		}}
	}
	.hide-me{
		display: none;
	}
.home-profile-left-column{
	
	.profile-anchor-menu{
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0px;
		li{
			margin: 0 5px;
			a{
				color: white;
				font-family: $third__font;
				font-size: 16px;
				padding: 8px 10px 6px;
				border-radius: 4px 4px 0 0;
				text-shadow: 0 2px 1px $cta__color;
				&:hover, &.active{
					background-color: white;
					color: $hot__color;
					text-shadow: 0 0 0 transparent;
				}
			}
			&:last-of-type{
				a{
					border-right: 0!important;
				}
			}
		}
	}}

	.home-profile-tab{
		padding: 20px 40px;
		h2{
			font-size: 24px;
			font-family: $second__font;
			color: $primary;
			margin: 10px 0 20px;
			text-align: center;
		}
		p{
			color: #3d3d3d;
			margin-bottom: 20px;
			text-align: justify;
  		text-align-last: left;
			font-size: 20px;
		}
	}
	.home-profile-bottom{
		border-radius: 0 0 5px 5px;
	}
	
	.profile-socials{
	width: 28px;
	margin: 10px 10px 0;
	}


	.main-article{
		h4{
			a{
				color: $primary_lightVar;
				font-size: 20px;
				font-family: $third__font;
				font-weight: 600;
				margin-right: 15px;
				&:hover{
					color: $primary_light;
				}
			}
		}
		h1{
			line-height: 50px;
			font-size: 38px;
			margin: 5px 0 15px;
			a{
				color: $cta__colorLink;
				&:hover{
					color: $primary_light;
				}
			}
		}
		a.main-article-caption{
			color: #666666;
			font-size: 20px;
			font-family: $third__font;
			font-weight: 400;
			&:hover{
				color: $primary_light;
			}
		}
		p{
			color: $cta__contrast_color;
			margin-left: 20px;
			margin-top: 10px;
			font-size: 14px;
			line-height: 28px;
			font-family: $third__font;
			text-transform: uppercase;
			&:before{
				content: '';
				margin-left: -20px;
				display: block;
				width: 10px;
				height: 10px;
				background-color: $cta__contrast_color;
				border-radius: 50%;
				float: left;
				top: 7px;
    		position: relative;
			}
		}
		.main-article-relatives{
			padding: 20px;
			h2{
				margin-top: 20px;
				font-size: 28px;
				line-height: 28px;
				font-family: $third__font;
				a{
					&:hover{
						color: $primary_light;
					}
				}
			}
			ul {
				margin-left: 30px;
				margin-top: 20px;
				li {
					margin: 5px 0;
				list-style: none;
				&:before {
					content: "\2022";
					color: $primary_light;
					font-weight: bold;
					display: inline-block; 
					width: 1em;
					margin-left: -1em;
				}
				&:hover{
					&:before{
						color: $primary_lightVar;
					}
				}
				a{
				color: $primary_light;
				font-size: 17px;
				font-family: $third__font;
				font-weight: 400;
				&:hover{
					color: $primary_lightVar;
				}
			}}}
		}
	}

	.main-row{
		&.full-width-row-child{

		@media (max-width: 1023px){
			grid-template-columns: repeat(1, 1fr)!important;
			.main-article{
				max-width: 720px;
				margin: 0 auto;
				padding: 0 20px;
			}
		}
	}
	}
	.banner-img{
		img{
			margin: 0 auto;
			right: 0;
			left: 0;
		}
	}
	.page-yaml{
		main{
			max-width: $widescreen__size;
			margin: 0 auto;
			color: #fff;
		}
	}
	.one-column{
color: #fff;
	}
.footer-badges-wrapper.boxed-column-child{
	display: flex!important;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	a{
		flex-basis: 200px;
		text-align: center;
		margin-bottom: 20px;
		.footer-badges{
			margin-bottom: 15px;
		}
	}
	max-width: 720px;
	margin: 30px auto;
	h3{font-size: 16px; text-align: center; margin: 10px 0;}
	>div{display: flex; flex-direction: column; align-items: stretch; margin: 20px auto;}
	@media (max-width: 767px){
		grid-template-columns: repeat(2, 1fr)!important;
	}
.footer-badges{
	max-width: 90px;
	margin: 0 5px;
	background: #fcefec;
	border: 3px solid #fcefec;
	border-radius: 50%;
	align-self: center;
	&:hover{
	background: $primary_light;
	border: 3px solid $primary_light;
		cursor: pointer;
	}
}}

.whatsMeWrapper{
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 9;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
.whatsMe{
	width: 70px;
	background: #fcefec;
	border: 3px solid #fcefec;
	border-radius: 50%;
&:hover{
background: $primary_light;
border: 3px solid $primary_light;
	cursor: pointer;
}
}
p{
	font-size: 12px;
	background: #fcefec;
	color: $primary;
	font-weight: 900;
	display: block;
	top: 5px;
	position: relative;
	padding: 5px 10px;
	border-radius: 3px;
}
}

.highlight-img{
	margin-bottom: 20px;
}

.menu-bar-icon{
	font-family: $main__font;
	background-color: $cta__color;
	margin: 5px;
	color: $cta__colorLink;
	border-radius: 50%;
	width: 35px;
	line-height: 16px;
	text-align: center;
	height: 35px;
	border: 0;
	font-size: 29px;
	display: flex;
	margin-left: 10px;
	position: relative;
	&::before{
		content: "Menu";
		display: block;
		font-size: 24px;
		position: absolute;
		top: 10px;
		right: -70px;
		font-family: $fifth__font;
	}
	// &:hover{
	// 	color: white
	// }
}

.full-width-row.main-header{
	background-color: transparent!important;
}