// Colors
$brand__color: #032741;
$cta__color: #011624;
$cta__colorLink: #ffcd2b;
$hot__color: #032741;
$hotDark__color: #0073c4;
$cta__contrast_color: #df0000;
$error_color: #df0000;
$link__color: #fff;

$heading__top-padding: 80px;
$heading__bottom-padding: 60px;

$primary: $cta__color;
$primary_background__color: #e5f4ff;
$primary_background: mix(white, $cta__color, 90%);
$primary_bg_dark: mix(white, $cta__color, 35%);
$primary_ultralight: mix(white, $cta__color, 80%);
$primary_light: mix(white, $cta__colorLink, 25%);
$primary_darklight: mix(black, $cta__colorLink, 25%);
$primary_lightVar: rgb(169, 208, 255);
$primary_dark: mix(black, $cta__color, 35%);
$primary_ultradark: mix(black, $cta__color, 80%);
$primary_darkvar: #252210;

$brand_black__color: #0c0c0c;
$paragrahp_black__color: #212529;
$grayscale_300__color: #e3e3e3;
$grayscale_600__color: #a3a3a3;
$color__light-grey: #999999;
$selection_bg__color: #2e2e2e;
$selection_txt__color: #fff;
// Breakpoints
// screen vars
$logo__max-width: 450px;
$post_page__size: 1020px;
$page__size: 960px;
$paragraph__size: 960px;
$widescreen__size: 1165px;
$tablet__size: 768px;
$tabletHack__size: 1023px;
$tabletHackMinimal__size: 425px;
$boxed__tabletHackMaxWidth: 730px;
$small__size: 375px;
$desktopIndexButtons__maxWidth: 520px;
$mobileIndexButtons__maxWidth: 280px;
$tabletIndexButtons__maxWidth: 350px;
$boxed__maxWidth: 375px;
$boxedDesktop__maxWidth: 1024px;
$boxedMobile__maxWidth: 375px;
//Spaces
$s__space: 16pt;

// typograph
$alternative__font: "Arial";

$main__font: "IBM Plex Serif", $alternative__font, sans-serif;
$main__fontSLUG: "IBM+Plex+Serif.woff2";

$second__font: "Noto Serif", $alternative__font, sans-serif;
$second__fontSLUG: "Noto+Serif.woff2";

$third__font: "Josefin Sans", $alternative__font, sans-serif;
$third__fontSLUG: "Josefin+Sans.woff2";

$fourth__font: "Open Sans", $alternative__font, sans-serif;
$fourth__fontSLUG: "Open+Sans.woff2";

$fifth__font: "Dancing Script", $alternative__font, sans-serif;
$fifth__fontSLUG: "Dancing+Script.woff2";

/* latin */
// @font-face {
//   font-family: $main__font;
//   font-display: optional;
//   src: url($main__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $second__font;
//   font-display: optional;
//   src: url($second__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $third__font;
//   font-display: optional;
//   src: url($third__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $fourth__font;
//   font-display: optional;
//   src: url($fourth__fontSLUG) format("woff2");
// }
// @font-face {
//   font-family: $fifth__font;
//   font-display: optional;
//   src: url($fifth__fontSLUG) format("woff2");
// }

$m__fontSize: 17px;
$h1__fontSize: 30pt;
$h2__fontSize: 24pt;
$h3__fontSize: 22pt;
$h4__fontSize: 20pt;
$h5__fontSize: 18pt;
